build
public/upload/
public/assets/css/marklet.css
public/assets/css/style.css
*.min.js
*.swp
node_modules
/* public/marklet/marklet.js */
/* public/marklet/templates.js */
/* public/marklet/marklet.css */
/* public/marklet/stage_template.js */
/* public/marklet/tb_template.js */
