!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.7.1.min.js')
    script(src='/javascripts/bootstrap-tooltip.js')
    script(src='/javascripts/bootstrap-popover.js')
  body
    .container
      != body
