extend layout

block content
  .row
    for i in [0, 1, 2, 3]
      .span3
        i.insert-pos

block scripts
  script#tb-image(type='template')
    a(href='#').tb-small
      img.thumbnail
    h6 {meta_text}
    p {text}

  include popover

  //(src='{tbUrl}')
  script(src='/assets/js/popover.js')
  script(src='/assets/js/mark.js')
