!!!
html
  head
    title= title
    // script(src='/assets/js/marklet-loader.js')
    link(rel='stylesheet', href='http://dev:3000/assets/css/marklet.css')
    script(src='http://code.jquery.com/jquery-1.7.2.min.js')
    // script(src='http://dev:3000/assets/js/marklet-template.js')
    script(src='/bootstrap/js/bootstrap-modal.js')

  body
    h1 normal header
    p this is normal text
    a.btn(href='#myModal', data-toggle='modal') foo
    include marklet
