!!! 5
html(lang='en')
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")

    // link(rel='stylesheet', href='http://dev:3000/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='http://dev:3000/marklet/marklet.css')
  body
    h1 normal header
    p this is normal text
    a.btn(href='#myModal', data-toggle='modal') foo
    include marklet/marklet


    // script(src='/assets/js/marklet-loader.js')
    // script(src='http://code.jquery.com/jquery-1.7.2.min.js')
    script(src='/assets/js/jquery-1.7.1.min.js')

    // raw bootstrap
    // script(src='/bootstrap/js/bootstrap-transition.js')
    // script(src='/bootstrap/js/bootstrap-modal.js')

    // marklet modified bootstrap
    script(src='/marklet/bootstrap-transition.js')
    script(src='/marklet/bootstrap-modal.js')
    script(src='/assets/js/jade.runtime.js')
    script(src='/marklet/template.js')
    script(src='/marklet/main.js')
