a.imgfoo(href='#')
  img.thumbnail.thumbnail-small(src=img.src)

  if(banned)
    i.select.icon-ban-circle
  else
    i.select.icon-ok

  if(locals.link)
    span #{link.text || link.href}
  else
    span #{img.width} x #{img.height}
