body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.thumbnail-small {
  max-width: 128px;
  max-height: 128px;
  display: inline-block;
}
#left-image {
  max-width: 48%;
  float: left;
  display: inline-block;
}
#right-image {
  max-width: 48%;
  float: right;
  display: inline-block;
}
